/* Custom footer styles */

.footer {
  background-color: #000f2d;
}



.footer-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000f2d;
}

.footer-bottom a {
  color: #ffffff;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #0576ee;
}

.footer-bottom .list-inline-item:not(:last-child) {
  margin-right: 15px;
}

/* Adjust spacing for mobile */
@media (max-width: 767px) {
  .footer-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-bottom .list-inline-item {
    margin-bottom: 5px;
  }
}
